body {
  background-color: pink;
}

.App {
  background-color: pink;
  margin-top: 0;
}

ul {
  padding: none;
  list-style: none;
}

.user {
  z-index: 0;
  background-color: rgb(255, 255, 255, .65);
  padding: 2vw;
  margin: 2.5vw;
}

.modal-background {
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, .8);
}

.modal {
  z-index: 50;
  position: fixed;
  background-color: white;
  padding: 5vw;
}